:root {
	--main-bg-color: #1e1e21;
}

html, body {
	width: 100%;
	height: 100vh;
	background-color: #1e1e21;	
}

.App {	
	background-color: #1e1e21;	
	display: flex;
	flex-direction: column;  
	font-size: calc(10px + 2vmin);
	color: white;
}

#appTitle {
	text-align: center;
	font-size: calc(8vmin);
	margin: calc(5px + 0.4vw);	
} 

.SequencerBody {	
	background-color: #28282c; 	
	margin-left: 2%;	
	margin-right: 2%;	
	margin-bottom: calc(10px + 0vw);
	margin-top: calc(10px + 0vw);	
}

.PlayButton {
	background: #36363c;
    border-radius: calc(2px + 0.5vw);
	cursor: pointer;
	font-size: calc(8px + 1vw);
	margin: 2vw;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
    box-shadow: 0 1px 3px 0 rgba(blue, 0.3);
	transition: background 100ms ease; 	
	color:white;
	outline: none;
}

.PlayButton.started {
	color: #0087ff;
	border-color: #0087ff;
}

.BPMButton {
	display: inline-grid;
	font-size: calc(8px + 1vw);
	vertical-align: middle;
	width: 20vw;	
	margin-top: 2vw; 	
	margin-bottom: 2vw; 	
	margin-left: 4vw; 	
	margin-right: 4vw; 	
}

.BPMButton input {
	width: inherit;
	background: #36363c;
	color:white;
	border-radius: 0.05vw; 
	box-shadow: 0 1px 3px 0 rgba(blue, 0.3);
	padding: 1vw; 
	font-size: calc(8px + 0.8vw);	
}

.BPMButton input[type=range] {
	padding: 0;
	margin-top: 1vw;
	width: 22vw;
}

.VolumeFader {
	display: inline-grid;
	font-size: calc(8px + 1vw);
	vertical-align: top;
	width: 20vw;	
	margin-top: 2vw; 	
	margin-bottom: 2vw; 	
	margin-left: 4vw; 	
	margin-right: 4vw; 
} 

.VolumeFader input {
	width: inherit;
	background: #36363c;
	color:white;
	border-radius: 4px; 
	box-shadow: 0 1px 3px 0 rgba(blue, 0.3);	
}

.PadsGroup {
	padding: 1vw;
}
 
.Pads {	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 1vw;
	margin-right: 1vw; 	
}

.SampleName {	
	width: 5vw; 
	flex-grow: 1;
	align-self: center;	
	font-size: calc(6px + 1vw);
} 

.Pad-container {
	display: inline-flex;	
	flex-grow: 1; 	
}

.Pads span.hidden {
	display: none;
}

.Pads span.visible {
	display: inline;
	align-self: end;
    font-size: 3vw;
} 

.Pad {
	background: #36363c;
    border-radius: 0.5vw;
	cursor: pointer;
	flex-grow: 1; 	
    height: 4vw;
    margin: 0.5vw;
    box-shadow: 0 1px 3px 0 rgba(blue, 0.3);
	transition: background 100ms ease; 	
}

.Pad:hover {	
	background: #42424a;
} 

.Pad.active {
	background: #42424a;
}

.Pad.on {
	background: #0087ff !important;
    box-shadow: 0 0 12px 0 rgba(0,135,255,.8);
}

.Footer {
	text-align: center;
	font-size: calc(7px + 0.6vw);
	margin: 1vw;
	margin-top: 0;
}

.Footer p {
	margin-top: 1.15vw;
} 

.Footer a:link {
	color: #0087ff;
}  
 
.Footer a:visited {
	color: #0087ff;
}

.Footer a:hover {
	color: #0464b8d8; 
} 