:root {
	--main-bg-color: #1e1e21;
}

html, body {
	width: 100%;
}

.App {	
	background-color: #1e1e21;	
	display: flex;
	flex-direction: column;  
	font-size: calc(10px + 2vmin);
	color: white;
}

#appTitle {
	text-align: center;
} 

.SequencerBody {	
	background-color: #28282c; 	
	margin: 5%;	
}

.PlayButton {
	background: #36363c;
    border-radius: 4px; 
	cursor: pointer;
	font-size: calc(2vmin);    
	margin: 1em;
	padding: 1em;
    box-shadow: 0 1px 3px 0 rgba(blue, 0.3);
	transition: background 100ms ease; 	
	color:white;
}

.BPMButton {
	display: inline-grid;
	font-size: calc(2vmin);
	vertical-align: middle;
	width: 30%;	
	margin: 1em;
}

.BPMButton input {
	width: inherit;
	background: #36363c;
	color:white;
	border-radius: 4px; 
	box-shadow: 0 1px 3px 0 rgba(blue, 0.3);
	padding: 1em;
}

.VolumeFader {
	display: inline-grid;
	font-size: calc(2vmin);
	vertical-align: middle;
	width: 30%;	
	margin: 1em;
}

.VolumeFader input {
	width: inherit;
	background: #36363c;
	color:white;
	border-radius: 4px; 
	box-shadow: 0 1px 3px 0 rgba(blue, 0.3);
	padding: 1em;
}

.PadsGroup {


} 
 
.Pads {	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 10px;
	margin-right: 10px; 
}

.SampleName {	
	width: 4em; 
	flex-grow: 1;	
} 

.Pad-container {
	display: inline-flex;
	font-size: 1.5em;
	flex-grow: 1; 	
}

.Pads span.hidden {
	display: none;
}

.Pads span.visible {
	display: block;
}

.Pad {
	background: #36363c;
    border-radius: 4px; 
	cursor: pointer;
	flex-grow: 1; 	
    /* width: 50px; 
    height: 50px; */
    margin: 5px;
    box-shadow: 0 1px 3px 0 rgba(blue, 0.3);
	transition: background 100ms ease; 	
}

.Pad:hover {	
	background: #42424a;
} 

.Pad.active {
	background: #42424a;
}

.Pad.on {
	background: #0087ff!important;
    box-shadow: 0 0 12px 0 rgba(0,135,255,.8);
}
